/*Fuentes importadas de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');
*{margin: 0;}

/*AQUÍ HACEMOS LOS ESTILOS DE LA PÁGINA index.html*/

.contenedor{
  width: 100%;  
}

header{
    background: #023047;
    padding: 30px 20px;
    color: #FFFFFF;
    font-family: "Cal Sans", sans-serif;
    font-size: 6em;
    text-align: center;
    position: sticky;
}

nav{
  background: #8ecae6;
  position: sticky;
  top: 0; /* Se pega arriba al hacer scroll */
  z-index: 100; /* Para que quede sobre otros elementos */
}

nav ul{
  display: flex;
  list-style: none;
  justify-content:center;
}

nav ul li a{
color: #023047;
text-decoration: none;
padding: 10px 20px;
display: block;
font-family: "Cal Sans", sans-serif;
font-size: 1.3em;
font-weight: bold;
}

nav ul li a:hover{
  background: #023047;
  color: #219ebc;
}

nav ul li.active a{
  background: #023047;
  color: #219ebc;
}

main{
  background-image: url(../img/estudia-tu-bachillerato.jpg);
  background-position: center;
  background-size: cover; 
  background-position-y: top;
  min-height: 100vh;
}

main h2 {
  width: 57%;
  color: #023047;
  font-size: 60px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 100px 30px; /* Padding solo lateral */
}

footer{
  background: #fb8500;
  padding: 20px;
  text-align: center;
}

.pie-de-pagina{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: azure;
}

.descripcion {
  width: 57%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  padding: 0 30px; /* Padding solo lateral */
  margin-top: 0; /* Eliminamos margen superior por defecto */
  line-height: 1.6;
}

/*AQUÍ HACEMOS LOS ESTILOS DE LA PÁGINA nosotros.html*/

main.nosotros {
  background-image: none;
  background: linear-gradient(45deg,#ffbe00 0%,#fb8500 100%); /*Aquí definimos el background de la página en degradado*/
  min-height: 100vh;
  display: flex;
  position: relative;
}

main.nosotros::after{
  content:"";
  height: 100vh;
  width: 100%;
  display: block;
  background-image: url(../img/nosotros-estudiante-de-bachillerato.webp);/*insertamos una imagen sin fondo*/
  background-size: cover;
  position: absolute;
  right: -65px;
}


main.nosotros .contenido{
  z-index: 1;  /* posicionar el texto hacia adelante */
}

main.nosotros h2{
  width: 57%;
  color: #023047;
  font-size: 60px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 50px 30px; /* Padding solo lateral */
}

/*AQUÍ HACEMOS LOS ESTILOS DE LA PÁGINA contacto.html*/

main.contacto {
  background-image: none;
  background: linear-gradient(45deg,#ffffff 30%,#9b9b9b 100%); /*Aquí definimos el background de la página en degradado*/
  min-height: 100vh;
  display: flex;
  position: relative;
}

main.contacto::after{
  content:"";
  height: 100vh;
  width: 100%;
  display: block;
  background-image: url(../img/estudiantes-de-bachillerato-felices.webp);/*insertamos una imagen sin fondo*/
  background-size: cover;
  position: absolute;
  right: -65px;
}


main.contacto .contenido{
  z-index: 1;  /* posicionar el texto hacia adelante */
}

main.contacto h2{
  width: 100%;
  color: #023047;
  font-size: 40px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 20px; /* Padding solo lateral */
}

main.contacto details{
  width: 1000%;
  color: #023047;
  font-size: 20px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px 30px; /* Padding solo lateral */
}

main.contacto ul{
  width: 50%;
  color: #023047;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px 30px; /* Padding solo lateral */
  line-height: 2;
}

.formulario{
  width: 100%;
  color: #023047;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px; /* Padding solo lateral */
  margin-top: 20px;
}

.formulario legend{
  font-size: 18px;
  font-weight: bold;
	background: #F4E4BA;
	max-width: 400px;
	width: 400px;
	min-width: 400px;
	padding: 30px;
}

.mainContenido-estudiante {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.mainContenido-estudiante h1{
  font-size: 30px;
  font-family: "Cal Sans", sans-serif;
  background-color:#b7dbebcc;
  padding: 20px;

}
.mainContenido-estudiante p{
  font-size: 18x;
  font-family: "Open Sans", sans-serif;
  background-color:#b7dbebcc;
  padding: 20px;

}

article {
    margin-right: 20px;
    padding: 10% 30px;
    background-image: url(../img/estudiantes-universidad-bachillerato-educacion.png);
    background-size: 100%;
    background-attachment: fixed;
}

aside{
	background: #F4E4BA;
	max-width: 400px;
	width: 400px;
	min-width: 400px;
	padding: 30px;
}

aside img{
	max-width: 100%;
	border: 3px solid #fff;

	
}

.margenimg{
	margin-bottom: 30px;

}
.enlaces-practicas a{
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	line-height: 2;
	font-size: 1.8vw;
	font-weight: 900;
}
.enlaces-practicas ul{
	list-style: none;
}
.enlaces-practicas a:hover{
	color:#d220a8;
	background: #fff;
	padding: 10px 60px;
	border-radius: 20px;
}

.enlaces-practicas h2{
  font-family: "Open Sans", sans-serif;
	font-size: 2vw;
	color: #4613ac;
}