/*Fuentes importadas de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');
*{margin: 0;}

.contenedor{
  width: 100%;  
}

header{
    background: #023047;
    padding: 30px 20px;
    color: #FFFFFF;
    font-family: "Cal Sans", sans-serif;
    font-size: 8em;
    text-align: center;
    position: sticky;
}

nav{
  background: #8ecae6;
  position: sticky;
  top: 0; /* Se pega arriba al hacer scroll */
  z-index: 100; /* Para que quede sobre otros elementos */
}

nav ul{
  display: flex;
  list-style: none;
  justify-content:center;
}

nav ul li a{
color: #023047;
text-decoration: none;
padding: 10px 20px;
display: block;
font-family: "Cal Sans", sans-serif;
font-size: 1.3em;
font-weight: bold;
}

nav ul li a:hover{
  background: #023047;
  color: #219ebc;
}

nav ul li.active a{
  background: #023047;
  color: #219ebc;
}

main{
  background-image: url(../img/estudia-tu-bachillerato.jpg);
  background-position: center;
  background-size: cover; 
  background-position-y: top;
  min-height: 100vh;
}

main h2 {
  width: 57%;
  color: #023047;
  font-size: 60px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 100px 30px; /* Padding solo lateral */
}

footer{
  background: #fb8500;
  padding: 20px;
  text-align: center;
}

.pie-de-pagina{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: azure;
}

.descripcion {
  width: 57%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  padding: 0 30px; /* Padding solo lateral */
  margin-top: 0; /* Eliminamos margen superior por defecto */
  line-height: 1.6;
}

/*AQUÍ HACEMOS LOS ESTILOS DE LA PÁGINA nosotros.html*/

main.nosotros {
  background-image: none;
  background: linear-gradient(45deg,#ffbe00 0%,#fb8500 100%);
  min-height: 100vh;
  display: flex;
  position: relative;
}

main.nosotros::after{
  content:"";
  height: 100vh;
  width: 100%;
  display: block;
  background-image: url(../img/nosotros-estudiante-de-bachillerato.webp);
  background-size: cover;
  position: absolute;
  right: -65px;
}


main.nosotros .contenido{
  z-index: 1;  /* posicionar el texto hacia adelante */
}

main.nosotros h2{
  width: 57%;
  color: #023047;
  font-size: 60px;
  font-family: "Cal Sans", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 50px 30px; /* Padding solo lateral */
}